{
  "appId": "<%= appId %>",
  "appName": "<%= appName %>",
  "bundledWebRuntime": false,
  "npmClient": "npm",
  "webDir": "<%= pathToRoot %>/<%= webDir %>",
  "plugins": {
    "SplashScreen": {
      "launchShowDuration": 0
    }
  },
  "cordova": {}
}
