version: 2.1
orbs:
  node: circleci/node@1.1.6
set_env: &set_env
  name: Setup Environment Variables
  command: |
    if [[ $CIRCLE_PULL_REQUEST ]]
    then
      echo 'Fetching Base Commit from GitHub'
      echo 'export CIRCLE_PR_NUMBER="${CIRCLE_PR_NUMBER:-${CIRCLE_PULL_REQUEST##*/}}"' >> $BASH_ENV
      source $BASH_ENV
      echo "export CIRCLE_PR_BASE_SHA=`curl -s https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/pulls/${CIRCLE_PR_NUMBER} | jq -r '.base.sha'`" >> $BASH_ENV
      echo 'export AFFECTED_ARGS="--base ${CIRCLE_PR_BASE_SHA}"' >> $BASH_ENV
    else
      echo 'export AFFECTED_ARGS="--base master"' >> $BASH_ENV
    fi
    
    source $BASH_ENV
    echo $AFFECTED_ARGS
jobs:
  affected-build:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                <<: *set_env
            - run: yarn --frozen-lockfile
            - run: yarn affected:build ${AFFECTED_ARGS}
  affected-lint:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                <<: *set_env
            - run: yarn --frozen-lockfile
            - run: yarn affected:lint ${AFFECTED_ARGS}
  affected-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                <<: *set_env
            - run: yarn --frozen-lockfile
            - run: yarn affected:test ${AFFECTED_ARGS}
  affected-e2e:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                <<: *set_env
            - run: yarn --frozen-lockfile
            - run:
                command: yarn affected:e2e ${AFFECTED_ARGS}
                no_output_timeout: 30m
workflows:
  build-and-test:
    jobs:
      - affected-build
      - affected-lint
      - affected-test
      - affected-e2e
